!!!
%html{:lang => "en"}
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name: :viewport, content: "width=device-width, initial-scale=1.0" }/
    = display_meta_tags og: { title: :title,
                              site_name: 'The SMM Tools',
                              type: 'website',
                              url: request.original_url,
                              description: :description,
                              locale: 'en_US' },
                        site: 'The SMM Tools — Buy Instagram Likes, Followers and Views. Instant Delivery',
                        protect_images: true,
                        twitter: { card: 'summary_large_image',
                                   title: :title,
                                   description: :description },
                        reverse: true,
                        canonical: request.original_url
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag asset_path('favicons/apple-icon-57x57.png'), rel: 'apple-touch-icon', sizes: '57x57'
    = favicon_link_tag asset_path('favicons/apple-icon-60x60.png'), rel: 'apple-touch-icon', sizes: '60x60'
    = favicon_link_tag asset_path('favicons/apple-icon-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72'
    = favicon_link_tag asset_path('favicons/apple-icon-76x76.png'), rel: 'apple-touch-icon', sizes: '76x76'
    = favicon_link_tag asset_path('favicons/apple-icon-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114'
    = favicon_link_tag asset_path('favicons/apple-icon-120x120.png'), rel: 'apple-touch-icon', sizes: '120x120'
    = favicon_link_tag asset_path('favicons/apple-icon-144x144.png'), rel: 'apple-touch-icon', sizes: '144x144'
    = favicon_link_tag asset_path('favicons/apple-icon-152x152.png'), rel: 'apple-touch-icon', sizes: '152x152'
    = favicon_link_tag asset_path('favicons/apple-icon-180x180.png'), rel: 'apple-touch-icon', sizes: '180x180'
    = favicon_link_tag asset_path('favicons/android-icon-192x192.png'), rel: 'icon', sizes: '192x192', type: 'image/png'
    = favicon_link_tag asset_path('favicons/favicon-32x32.png'), rel: 'icon', sizes: '32x32', type: 'image/png'
    = favicon_link_tag asset_path('favicons/favicon-96x96.png'), rel: 'icon', sizes: '96x96', type: 'image/png'
    = favicon_link_tag asset_path('favicons/favicon-16x16.png'), rel: 'icon', sizes: '16x16', type: 'image/png'
    = favicon_link_tag asset_path('favicons/ms-icon-144x144.png'), name: 'msapplication-TileImage'

    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      = render 'application/google_analytics'
      -# = render 'application/drift_messenger'

  %body
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-WJSCX6C", :style => "display:none;visibility:hidden", :width => "0"}
    = yield
